* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #fff; }
a:hover { text-decoration: underline; }
* {
  -webkit-scrollbar { display: none; }
}
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}